body {
  background: #ffffff;
  font-family: "Open Sans", "sans-serif";
  padding-top: 45px; }

.konteineris-headeris {
  padding-bottom: 120px; }
  .konteineris-headeris .meniubaras-logo {
    height: auto;
    width: 15%; }
    .konteineris-headeris .meniubaras-logo .wlogoo {
      width: 105px;
      height: 57px;
      margin-bottom: -10px; }
  .konteineris-headeris .meniubaras-navi {
    height: auto; }
    .konteineris-headeris .meniubaras-navi ul {
      float: right; }
    .konteineris-headeris .meniubaras-navi ul li {
      display: inline-block;
      padding: 5px 10px;
      padding-top: 15px; }
    .konteineris-headeris .meniubaras-navi a {
      font-size: 13px;
      color: black; }
  .konteineris-headeris .meniubaras-regi {
    height: auto;
    float: right; }
    .konteineris-headeris .meniubaras-regi button {
      font-size: 10px;
      color: white;
      float: left;
      background: #d02782;
      padding: 10px 10px;
      border-radius: 5px;
      margin-left: 10px;
      margin-top: 10px; }
      .konteineris-headeris .meniubaras-regi button i {
        font-style: normal; }

.konteinerio-pirmas {
  padding-bottom: 96px; }
  .konteinerio-pirmas .intro {
    padding-top: 10px; }
    .konteinerio-pirmas .intro h3 {
      font-size: 24px; }
    .konteinerio-pirmas .intro p {
      color: #b7b7b9;
      font-size: 17px; }

.konteinerio-antras .didelispic img {
  width: 100%;
  height: auto; }

.konteinerio-trecias {
  width: 100%;
  height: auto;
  padding-top: 110px; }
  .konteinerio-trecias h5 {
    margin-right: 115px;
    margin-bottom: 40px;
    color: #b7b7b9; }
  .konteinerio-trecias p {
    font-size: 17px;
    margin-right: 115px;
    margin-bottom: 40px;
    color: #b7b7b9; }

.konteinerio-ketvirtas {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 40px; }
  .konteinerio-ketvirtas h4 {
    text-align: center;
    margin: 40px 260px; }
  .konteinerio-ketvirtas p {
    font-size: 14px;
    color: #b7b7b9;
    text-align: center;
    margin: 40px 260px; }

.konteinerio-penktas {
  width: auto;
  height: auto; }
  .konteinerio-penktas .veidas {
    display: inline-block; }
    .konteinerio-penktas .veidas img {
      height: 150px;
      width: 150px;
      padding: 15px; }
    .konteinerio-penktas .veidas h3 {
      font-size: 13px;
      font-weight: bold; }
    .konteinerio-penktas .veidas p {
      font-size: 10px;
      color: #c6c5ca; }
    .konteinerio-penktas .veidas h4 {
      font-size: 11px; }

.konteinerio-sestas {
  width: auto;
  height: auto; }
  .konteinerio-sestas img {
    padding-bottom: 88px; }
  .konteinerio-sestas h4 {
    text-align: center;
    margin: 32px 260px; }
  .konteinerio-sestas p {
    text-align: center;
    margin: 32px 260px;
    color: #b7b7b9;
    font-size: 14px; }

.konteinerio-septintas {
  background-image: url("pic/pink_bg.png");
  background-size: 100% 100%;
  padding: 124px 62px; }
  .konteinerio-septintas h4, .konteinerio-septintas p {
    text-align: left; }
  .konteinerio-septintas h4 {
    color: white;
    margin-bottom: 20px; }
  .konteinerio-septintas p {
    color: #c6c5ca;
    font-size: 12px; }

.konteinerio-astuntas {
  padding: 60px 0; }

.konteinerio-devintas {
  width: auto;
  height: auto;
  padding-bottom: 130px; }
  .konteinerio-devintas .trikampis {
    display: inline-block;
    width: 33%;
    margin-bottom: 20px; }
    .konteinerio-devintas .trikampis img {
      height: 210px;
      width: 240px;
      padding: 15px; }
    .konteinerio-devintas .trikampis p {
      color: #c6c5ca;
      font-size: 12px;
      font-weight: bold; }

.konteinerio-desimtas .zemiau {
  padding: 10px 0px 120px 0px; }
.konteinerio-desimtas .auksciausone {
  padding-bottom: 120px; }
  .konteinerio-desimtas .auksciausone p {
    color: #c6c5ca;
    font-size: 14px;
    font-weight: bold;
    text-align: left; }

.konteinerio-vienuoliktas {
  width: auto;
  height: auto; }
  .konteinerio-vienuoliktas .veiduk {
    display: inline-block; }
    .konteinerio-vienuoliktas .veiduk .lala {
      height: 200px;
      width: 200px;
      padding: 30px; }
    .konteinerio-vienuoliktas .veiduk h3 {
      font-size: 14px;
      font-weight: bold; }
    .konteinerio-vienuoliktas .veiduk p {
      font-size: 10px;
      color: #c6c5ca; }
    .konteinerio-vienuoliktas .veiduk h4 {
      font-size: 11px; }
    .konteinerio-vienuoliktas .veiduk a {
      display: inline-block; }
    .konteinerio-vienuoliktas .veiduk .label {
      height: 30px;
      width: 30px;
      margin: 2px; }

.konteinerio-dvyliktas h4 {
  margin: 50px 0px; }

.konteinerio-tryliktas {
  width: auto;
  height: auto;
  padding-bottom: 20px; }
  .konteinerio-tryliktas .gaublys {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .konteinerio-tryliktas .patarejai {
    width: 17%;
    height: auto; }
    .konteinerio-tryliktas .patarejai .miau {
      height: 150px;
      width: 150px; }
    .konteinerio-tryliktas .patarejai h3 {
      font-size: 14px;
      font-weight: bold; }
    .konteinerio-tryliktas .patarejai p {
      font-size: 10px;
      color: #c6c5ca; }
    .konteinerio-tryliktas .patarejai .labelis {
      height: 30px;
      width: 30px;
      margin: 2px; }

.konteinerio-keturioliktas {
  padding-top: 60px;
  padding-bottom: 10px; }

.konteinerio-penkioliktas .suldu {
  padding: 20px; }

.konteinerio-sesioliktas {
  padding-top: 40px;
  padding-bottom: 10px; }
  .konteinerio-sesioliktas h3 {
    margin-bottom: 20px; }
  .konteinerio-sesioliktas .delfi {
    max-height: 59px; }

.konteinerio-septynioliktas {
  padding-top: 10px; }

.konteinerio-astonioliktas {
  padding-bottom: 40px; }
  .konteinerio-astonioliktas .kva {
    padding: 10px; }

.konteinerio-devynioliktas .moteriske {
  float: right; }

.konteinerio-devynioliktas .gaubia {
  padding-top: 10px; }
  .konteinerio-devynioliktas .gaubia h4 {
    color: #c6c5ca; }

/*# sourceMappingURL=woman.css.map */
