$bg: #ffffff;
$ff: 'Open Sans', 'sans-serif';

body {
    background: $bg;
    font-family: $ff;
    padding-top:45px;
}

.konteineris-headeris {
    padding-bottom:120px;


    .meniubaras-logo {
        height: auto;
        width: 15%;

        .wlogoo { 
            width:105px; 
            height:57px;
            margin-bottom:-10px;
        } 
    }

    .meniubaras-navi {
        height: auto; 
        
        ul {
            float: right;
        }
            ul li {
                display: inline-block;
                padding:5px 10px;
                padding-top:15px;
            }
                a {
                    font-size: 13px;
                    color: black;
                }
    }

    .meniubaras-regi {
        height: auto; 
        float:right;

        button {
            font-size: 10px;
            color: white;
            float:left;
            background:#d02782;
            padding:10px 10px;
            border-radius: 5px;
            margin-left:10px;
            margin-top:10px;

            i {
                font-style: normal;
            }
        }
    }
}

.konteinerio-pirmas {
    padding-bottom:96px;

    .intro {
        padding-top:10px;

        h3 {font-size: 24px;}

        p {
            color: #b7b7b9;
            font-size:17px;
        }
    }
}
.konteinerio-antras {
    .didelispic {   
        img {
                
            width: 100%;
            height: auto;
        }
    }
}


.konteinerio-trecias {
    width: 100%;
    height: auto;
    padding-top: 110px;
    

    h5 {
        margin-right: 115px;
        margin-bottom: 40px;
        color: #b7b7b9;
    }

        p {
            font-size: 17px;
            margin-right: 115px;
            margin-bottom: 40px;
            color: #b7b7b9;
        }
}

.konteinerio-ketvirtas {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;

    h4 {
        text-align: center;
        margin:40px 260px ;
    }

        p  {font-size: 14px;
            color: #b7b7b9;
            text-align: center;
            margin:40px 260px ;
        }  
}

.konteinerio-penktas {
    width: auto;
    height: auto;

    .veidas {
        display: inline-block;
        
        img {
            height: 150px;
            width: 150px;
            padding: 15px;
        }

        h3 {
            font-size: 13px;
            font-weight: bold;
        }
        
        p {font-size: 10px;
            color: #c6c5ca;

        }
        
        h4 {font-size: 11px;
        }
    }
}

.konteinerio-sestas {
    width: auto;
    height: auto;
    
    img {
        padding-bottom: 88px;
    }
    h4 {
        text-align: center;
        margin:32px 260px ;
    }
    p {
        text-align: center;
        margin:32px 260px ;
        color: #b7b7b9;
        font-size: 14px;
    }
}

.konteinerio-septintas {
    background-image: url("pic/pink_bg.png");
    background-size: 100% 100%;
    padding: 124px 62px;

    h4, p {
        text-align: left;
    }

    h4 {
        color: white;
        margin-bottom:20px;
    }
    p {
        color:#c6c5ca;
        font-size: 12px;
    }
}

.konteinerio-astuntas {
    padding: 60px 0;
    
}

.konteinerio-devintas {
    width: auto;
    height: auto;  
    padding-bottom: 130px; 
   
    .trikampis {
        display: inline-block;
        width: 33%;
        margin-bottom:20px;
        

        img {
            height: 210px;
            width: 240px;
            padding: 15px;
        }

        p {
            color:#c6c5ca;
            font-size: 12px;
            font-weight: bold;
        }
    }     
}

.konteinerio-desimtas {
    
    .zemiau {
        padding:10px 0px 120px 0px;

    }

    .auksciausone {
        padding-bottom: 120px;
    
        p {
            color:#c6c5ca;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }
    }
}

.konteinerio-vienuoliktas {
    width: auto;
    height: auto;

    .veiduk {
        display: inline-block;
        
        .lala {
            height: 200px;
            width: 200px;
            padding: 30px;
        }

        h3 {
            font-size: 14px;
            font-weight: bold;
        }
        
        p {font-size: 10px;
            color: #c6c5ca;

        }
        
        h4 {font-size: 11px;
        }

        a {
            display: inline-block;
        }

       .label {
            height:30px;
            width:30px;
            margin: 2px;
        }
    }
}

.konteinerio-dvyliktas {

    h4 {
        margin: 50px 0px;
    }
}

.konteinerio-tryliktas {
    width: auto;
    height: auto;
    padding-bottom: 20px;

.gaublys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .patarejai {
        width: 17%;
        height: auto;
        
        .miau{
            height: 150px;
            width: 150px;  
        }

        h3 {
            font-size: 14px;
            font-weight: bold;
        }
        
        p {font-size: 10px;
            color: #c6c5ca;

        }
   
       .labelis {
            height:30px;
            width:30px;
            margin: 2px;
        }
    }
}

.konteinerio-keturioliktas {
       
        padding-top: 60px;
        padding-bottom: 10px;    
}

.konteinerio-penkioliktas {
   
    .suldu {
        padding: 20px;
    }
}


.konteinerio-sesioliktas {
        
        padding-top: 40px;
        padding-bottom: 10px;
   
   h3 {
        margin-bottom: 20px;
        }
    
    .delfi {
        max-height: 59px;
    }
}

.konteinerio-septynioliktas {
        
    padding-top: 10px;

}

.konteinerio-astonioliktas{
   
    padding-bottom: 40px;
    
            .kva {
               
                padding:10px;
            }
}

.konteinerio-devynioliktas {

    .moteriske {
        float: right;
    }
}